
<h1>ログイン</h1>
<div class ="view">
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
    <%= f.label :email %><br>
    <%= f.email_field :email %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br><br>
    <%= f.submit "Log in" %><br>
  <% end %>
</div>
<div class="sign-up">
  <%= link_to '新規登録はこちら', new_user_path  %>
</div>
