<h1>新規登録</h1>
<%= render 'form' %>
<div class="view">
  <%= form_with(model: @user, local: true) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :email %><br>
    <%= f.email_field :email %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>
    <%= f.label :image %><br>
    <%= f.file_field :image %><br>
    <%= f.submit "アカウントを作成",class: 'btn btn-primary' %><br>
  <% end %>
</div>
