<p id="notice"><%= notice %></p>

<h1>Pictures</h1>


    <% @pictures.each do |picture| %>
      <%= picture.created_at.strftime("%Y-%m-%d %H:%M") %><br><br>
      <%= picture.user.name %><br>
      <%= image_tag picture.image.url %><br>
      <%= picture.content %><br><br>
      <%= link_to 'Show', picture %>
      <% if current_user.id == picture[:user_id] %>
        <%= link_to 'Edit', edit_picture_path(picture) %>
        <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <br><br><br>
    <% end %>

<br><br><br>

<%= link_to 'New Picture', new_picture_path %>
