<p id="notice"><%= notice %></p>
<div class="view">
  <p>
    <strong>Image:</strong><br>
    <%= image_tag @picture.image.url %>
  </p><br>

  <p>
    <strong>Content:</strong><br>
    <%= @picture.content %>
  </p><br>
  <%= link_to 'Back', pictures_path ,class: 'btn btn-primary' %>
  <%= link_to 'Edit', edit_picture_path(@picture),class: 'btn btn-primary'  %>
  <%= link_to 'Destroy', picture_path(@picture) , method: :delete, data: { confirm: 'Are you sure?' } ,class: 'btn btn-primary' %>
</div>
